{{#each posts}}
  <div class="post">
    <h2>{{ title }}</h2>
    <p>{{ content }}</p>
    <a href="/dash/edit/{{ id }}">Edit</a>
    <a href="/dash/delete/{{ id }}">Delete</a>
  </div>
{{/each}}
<a href="/dash/create">Create New Post</a>