
  <header>
    <h1><a href="/home">Tech Blog</a></h1>
    <nav>
      <ul>
        <li><a href="/dash">Dashboard</a></li>
        
        {{#if user}}
          <li><a href="/logout">Log Out</a></li>
        {{else}}
          <li><a href="/login">Log In</a></li>
          <li><a href="/signup">Sign Up</a></li>
        {{/if}}
        
      </ul>
    </nav>
  </header>
  
  <main>
  <section class="posts">
    <h2>Welcome to the Tech Blog</h2>
    {{#each posts}}
      <article class="post">
        <h3>{{post.title}}</h3>
        <p>{{post.content}}</p>
        <a href="/post/{{id}}">Read more</a>
      </article>
    {{/each}}
  </section>
  </main>

  <footer>
    <p>&copy; 2023 Tech Blog</p>
  </footer>

