<header>
  <h1><a href="/home">Tech Blog</a></h1>
  <nav>
    <ul>
      <li><a href="/dash">Dashboard</a></li>
      
      <li><a href="/login">Log In</a></li>
      <li><a href="/signup">Sign Up</a></li>
      
    </ul>
  </nav>
</header>
  
<main class="container home">
<section class="posts">
  <h2>Welcome to the Tech Blog Homepage</h2>
  {{#each posts}}
    <article class="home-post">
      <p>@{{user.username}}</p>
      <h3>{{this.dataValues.title}}</h3>
      <p>{{this.dataValues.content}}</p>
      <a href="/post/{{id}}">Read more</a>
    </article>
  {{/each}}
</section>
</main>

<footer>
  <p>&copy; 2023 Tech Blog</p>
</footer>
