  <header>
    <h1><a href="/loghome">Tech Blog</a></h1>
    <nav>
      <ul>
        
        <li><a href="/loghome">Home</a></li>
        <li><a href="/dash">Dashboard</a></li>

      </ul>
    </nav>
  </header>
  
  <main>
  <section class="logout">
        <h2>Are you sure you want to log out?</h2>
        <form method="POST" action="/logout" class="button-container">
            <button type="submit" name="logout" value="yes" class="btn">Yes</button>
        </form>
        <button type="button" class="link-button" onclick="location.href='/dash'">No</button>
    </section>
  </main>

  <footer>
    <p>&copy; 2023 Tech Blog</p>
  </footer>
