<!DOCTYPE html>
<html>
<head>
  <title>Sign Up - Tech Blog</title>
  <link rel="stylesheet" href="../public/styles/style.css">
</head>
<body>
  <h1>Sign Up</h1>
  <form action="/signup" method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Sign Up</button>
  </form>
  <p>Already have an account? <a href="/login">Login</a></p>
</body>
</html>