
  <header>
    <h1><a href="/">Tech Blog</a></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dash">Dashboard</a></li>
        
        {{#if user}}
          <li><a href="/logout">Log Out</a></li>
        {{else}}
          <li><a href="/login">Login</a></li>
        {{/if}}
        
      </ul>
    </nav>
  </header>
  
  <main>
  <section class="signup-form">
    <h2>Sign Up</h2>
    <form action="/signup" method="POST">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Sign Up</button>
    </form>
  </section>
  </main>

  <footer>
    <p>&copy; 2023 Tech Blog</p>
  </footer>
