body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  padding-top: 80px;
  flex-grow: 1;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
  color: #fff;
  text-decoration: none;
  position: fixed;
  left: 20px;
  top: 10px;
}

header h1 a {
  text-decoration: none;
  color: #fff;
}

/* Navigation Styles */
nav ul {
  list-style: none;
  text-align: right;
  margin-right: 30px;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
}

nav ul li:last-child {
  margin-right: 0;
}

.blog-page .posts h2,
.blog-page .posts h2 {
  margin-bottom: 30px;
}

/* New post form styles */
.new-post h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.new-post input[type="text"],
.new-post textarea {
  width: 98%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.new-post button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Dash styles */
.dash {
  margin-bottom: 50px;
}

.dash h2 {
  font-size: 24px;
  margin-top: 80px;
  margin-bottom: 10px;
}

/* User post styles */

.posts {
  margin-bottom: 100px;
}

.posts h2 {
  margin-top: 80px;
  margin-bottom: 40px;
}

.user-posts {
  margin-bottom: 100px;
}

.post,
.user-posts .post,
.home .home-post {
  background-color: #ffffff;
  border: 2px solid #e0eefa;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 12px rgba(12, 0, 53, 0.2);
}

.post h3,
.user-posts .post h3,
.home .home-post h3 {
  margin-bottom: 40px;
  font-size: 20px;
  color: black;
}

.post p,
.user-posts .post p,
.home .home-post p {
  font-size: 16px;
  margin-bottom: 20px;
  color: black;
}

.post a,
.user-posts .post a,
.home .home-post a {
  color: #007bff;
  text-decoration: none;
}

h1 a, nav ul li a {
  color: #fff;
  text-decoration: none;
}

.user-posts h3 {
  margin-bottom: 30px;
  margin-top: 80px;
  font-size: 20px;
}

/* Comment Styles */
.comments {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.comment {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

/* Form styling */
.login-form,
.signup-form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
}

.login-form h2,
.signup-form h2 {
    margin-bottom: 10px;
}

.login-form input,
.signup-form input {
  display: block;
  width: 94.5%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-form button,
.signup-form button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button,
.signup-form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.login-form button:hover,
.signup-form button:hover {
    background-color: #555;
}

.logout {
  text-align: center;
  margin: 20px auto;
  max-width: 400px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
}

.logout h2 {
  margin-bottom: 20px;
}

.logout .button-container {
  display: inline-block;
  margin-top: 20px;
}

.link-button {
  height: 40px;
  width: 80px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

.logout .btn {
  height: 40px;
  width: 80px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Responsive Design */
@media screen and (max-width: 768px) {

  header {
    padding: 15px 0;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  .post {
    padding: 15px;
  }
}